*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-inline: 24px;
  max-width: 1200px;
}

.control-panel {
  display: flex;
  gap: 16px;
}

.dt-container {
  padding: 16px;
  max-width: calc(100vw - 24px);
  max-height: calc(100vh - 400px);
  border: 1px solid #D5D5D5;
  overflow: auto;
}

.dt-row {
  display: flex;
  flex-flow: row wrap;
  column-gap: 8px;
}

.dt-row + .dt-row {
  margin-top: 16px;
}

.dt-cell {
  width: 150px;
}

.v-input__details {
  padding-block: 6px 12px;
}
